extend layout

block scripts
    script(type="text/javascript", src="/warnings.js")

block content
    .align-center
        .window
            .accinfo
                .logo 
                    img.avatar_big(src="/photos/accounts/avatar/#{account.id}.jpg", onerror="this.src='/pictures/unknown.jpg'")
                .title #{account.nickname}
                table
                    unless account.isPrivate || !user
                        tr
                            td
                                p E-mail:
                            td
                                p #{account.username}
                        if account.fullname
                            tr
                                td
                                    p Name and Surname:
                                td
                                    p #{account.fullname}
                        if account.location
                            tr
                                td
                                    p Location
                                td
                                    p #{account.location}
                        if account.birthday
                            tr
                                td
                                    p Birthday
                                td
                                    p #{""+(account.birthday.getMonth()+1)+"/"+account.birthday.getDate()+"/"+account.birthday.getFullYear()+""}
                    tr
                        td
                            p Admission date
                        td
                            p #{account.creationDate?""+(account.creationDate.getMonth()+1)+"/"+account.creationDate.getDate()+"/"+account.creationDate.getFullYear()+"":"<not provided>"}
                    tr
                        td
                            p Description
                        td.textbox
                            p #{account.description?account.description:"No description provided. :("}
                .field
                    p #{message}
        .window_buttons
            if user
                if user.id === account.id
                    form(action="/myAccount" method="GET")
                        input(type="submit", value="Account Settings")