extend layout

block scripts
    script(type="text/javascript", src="/warnings.js")

block content
    .align-center
        if user
            .window
                form#accform(action="/modifyacc", method="post")
                    input(type="hidden", name="id", value="#{user.id}")
                    .logo 
                        img.avatar_big(src="/photos/accounts/avatar/#{user.id}.jpg", onerror="this.src='/pictures/unknown.jpg'")
                    .title Your account information
                    table
                        tr
                            td
                                p E-mail:
                            td
                                p #{user.username}
                        tr
                            td
                                p Nickname*:
                            td
                                input(type="text", name="nickname", value="#{user.nickname}")
                        tr
                            td
                                p Name and Surname:
                            td
                                input(type="text", name="fullname", value="#{user.fullname?user.fullname:''}")
                        tr
                            td
                                p Location
                            td
                                input(type="text", name="location", value="#{user.location?user.location:''}")
                        tr
                            td
                                p Birthday (MM/DD/YYYY)*:
                            td
                                select(name="birthdaym")
                                    - for (let i = 1; i <= 12; i++) {
                                        if user && user.birthday && user.birthday.getMonth()+1 === i
                                            option(value="#{i}", selected="selected")= i
                                        else
                                            option(value="#{i}")= i
                                    - }
                                select(name="birthdayd")
                                    - for (let i = 1; i <= 31; i++) {
                                        if user && user.birthday && user.birthday.getDate() === i
                                            option(value="#{i}", selected="selected")= i
                                        else
                                            option(value="#{i}")= i
                                    - }
                                select(name="birthdayy")
                                    - for (let i = 1889; i <= 2137; i++) {
                                        if user && user.birthday && user.birthday.getFullYear() === i
                                            option(value="#{i}", selected="selected")= i
                                        else
                                            option(value="#{i}")= i
                                    - }
                                //input.date(type="text", name="birthdaym", value="#{user.birthday?user.birthday.getMonth()+1:'06'}")
                                //input.date(type="text", name="birthdayd", value="#{user.birthday?user.birthday.getDate():'30'}")
                                //input.date(type="text", name="birthdayy", value="#{user.birthday?user.birthday.getFullYear():'1996'}")
                        tr
                            td
                                p Description
                            td
                                .textbox
                                    textarea(name="description", form="accform", cols="40") #{user.description?user.description:''}
                    table.privacyinfo
                        tr
                            td
                                input#pt(type="radio", name="isprivate", value="false", checked=(user.isPrivate !== true ? "checked" : undefined))
                                label(for="pt") Show your personal data** 
                        tr
                            td
                                input#pf(type="radio", name="isprivate", value="true", checked=(user.isPrivate === true ? "checked" : undefined))
                                label(for="pf") Hide your personal data**
                    .field
                        input.mod(type="submit" value="Change account information")
                    .field
                        p * – Field required
                        p ** – This is your birthday, e-mail, location, name and surname.
                        p #{message}
        else
            p We are sorry, but you won't find anything interesting here – as long as you are not logged in. :(